@import '../App/_vars'

.projects
  width: 100%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  gap: 20px
  // flex-direction: row
  // flex-wrap: wrap
  // justify-content: space-around
  list-style-type: none
  margin: 0
  padding: 0
  &__hint
    text-align: center
    align-self: center
    font-size: $font-xl